
<div class="container">
   

    <div class="row">

<canvas id="myChart" ></canvas>
    </div>


<br><br><br>
     <div class="row">
        


<form action="/admin/generate-random-post" method="post" class="form-group">
    <label for="" class="label">number:</label>
    <input type="number" max="500" min="1" name="amount" id=""  class="form-controler">
    <input type="submit" value="Generate Post with Fake Content" class="btn btn-dark">
</form>


    </div>
</div>
