<h1>Categories</h1>

<table class="table" >

    <tr>
        <th>id</th>
        <th>name</th>
        <th>view</th>
      
    </tr>

    
    {{#each cats}}
    <tr>
        <td>{{_id}}</td>
        <td>{{name}}</td>
         <td>
             <a href="/catPosts/{{_id}}" class="btn btn-primary"> view posts</a>
         </td>
    </tr>
    {{/each}}
</table>
