
<form action="" method="post" class="form-group">

    <input  required type="text" name="catname" id="" placeholder="please insert name of category" >

     <button  type="submit" class="btn btn-primary">create</button>
</form>


