

<form action="/admin/posts/create"  method="post" enctype="multipart/form-data">
  
   <div class="form-group">
      <label for="title">Title</label>
      <input  required type="text" name='title' class="form-control" placeholder="write a title for the post">
   </div>
   
   
    <div class="form-group" >
      <label for="file"></label>
      <input  type="file" name='file' class="form-control" placeholder="put your file here">
     </div>
 

   

   <div class="form-group">
      <label for="status">Status</label>
     <select name="status" id="status" class="form-control">
         <option value="public">Public</option>
         <option value="private">Private</option>
         <option value="draft">Draft</option>
     </select>
   </div>


<div class="form-check">
      <label for="cat">categories</label>
    
      <div class="form form-area">
    {{#each cats}}
         <label for="categoryName">{{name}}</label> 
         <input type="checkbox" name={{id}} id="">  
     {{/each}} 
    
    </div>
  </div>
<hr>


   <div class="form-check">
      <label for="allowcomment" class="form-check-label">
       <input type="checkbox" name="allowcomment" id="allowcomment" class="form-check-input">    
       Allow Comments</label>
   </div>
   
   <div class="form-group">
      <label for="body">Body</label>
    
       <textarea name="content" id="area" style="width: 200px;height:100px;" required>

         now in the creator 
       </textarea>

   </div>

   <input type="submit" class="btn btn-primary"  name="submit" value="create post">


</form>

<script src="/ckeditor/ckeditor.js"></script>

<script>

    CKEDITOR.replace('content') ;

</script>