




<h1>Your info</h1>



<table class="table">

   <tbody>


       <tr>
           <td>name :</td>
           <td>{{user.firstName}}</td>
       </tr>
       <tr>
           <td>lastName</td>
           <td>{{user.lastName}}</td>
       </tr>
       <tr>
           <td>Yore Email</td>
           <td>{{user.email}}</td>
       </tr>
       
       <tr>
          change your <a href="/admin/users/yourInfo/edit">info</a>      
      </tr> 
      
    

   </tbody>


</table>




 

         you can contact to the admin via : <br> aa4521661@gmail.com    <br>      ahamadzadeh1378@gmail.com 
 